*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: #333333;
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 16px;
}